@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

* {
  margin: 0;
  padding: 0
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 100%;
  font-size: 14px;
  line-height: 20px;
  -webkit-text-size-adjust: none
}

body {
  background: #fff
  padding-top: 2% !important;
  background: #efefef url("../img/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=2048") no-repeat fixed center;
}

body > .container {
  padding-top: 2em;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

table,
td,
th {
  border: 0
}

p {
  text-align: justify;
  margin: 0 0 15px 0
}

h1,
h2,
h3,
h4,
h5 {
  text-align: left;
  font-weight: 400
  font-family: 'Open Sans'
}

input,
textarea {
  font-size: 14px;
  font-family: 'Open Sans', Arial, sans-serif
}

hr {
  clear: both;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0))
}

h1,h2,h3 {
  animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0.32; }
  to   { opacity: 1; }
}

h2 + p {
  margin-top: 1em;
}

a {
  margin-right: 0.7em;
}

a:active,
a:link,
a:visited {
  color: #222;
}

/* icon theming */

.top_icon {
  height: 48px;
  width:  48px;
  margin: 0;
  margin-top: 1em;
  padding: 0;
  vertical-align: bottom;
}

.icon {
  vertical-align: bottom;
  line-height: normal;
}

.icon svg {
  height: 20px;
}

a {
  padding-bottom: 2px;
}

a:hover {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline !imporant;
}

nav a.active {
  border-bottom: 1px solid red;
}

nav a.nav-link {
  text-decoration: none;
  font-weight: 400;
}

.icon {
  fill: #000000;
  height: 2em;
  width:  2em;
}

.icon span {
  vertical-align: bottom;
  font-weight: 500;
}

.icon-github-hover {
  fill:  #6441a5;
  color: #6441a5 !important;
}

.icon-linkedin-hover {
  fill:  #3f98c7;
  color: #3f98c7 !important;
}

.icon-keybase-hover {
  fill:  #ba6d21;
  color: #ba6d21 !important;
}

.icon-stackoverflow-hover {
  fill:  #ce3a15;
  color: #ce3a15 !important;
}

.icon-cv-hover {
  fill:  #009999;
  color: #009999 !important;
}
