@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

* {
  margin: 0;
  padding: 0
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 100%;
  font-size: 14px;
  line-height: 20px;
  -webkit-text-size-adjust: none
}

body {
  background: #fff
  padding-top: 2% !important;
  background: #efefef url("https://images.pexels.com/photos/304664/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=2048") no-repeat fixed center;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

table,
td,
th {
  border: 0
}

p {
  text-align: justify;
  margin: 0 0 15px 0
}

h1,
h2,
h3,
h4,
h5 {
  text-align: left;
  font-weight: 400
  font-family: 'Open Sans'
}

input,
textarea {
  font-size: 14px;
  font-family: 'Open Sans', Arial, sans-serif
}

hr {
  clear: both;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0))
}

.icon {
  margin-top: 40%;
  width: 48px !important;
}

h1,h2,h3 {
  animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0.32; }
  to   { opacity: 1; }
}

a {
  margin-right: 0.7em;
}

a:active,
a:link,
a:visited {
  color: #222;
}

div.nav {
  margin-top: 10em !important;
}

/* icon theming */
.icon {
  vertical-align: bottom;
  line-height: normal;
}
.icon svg {
  height: 20px;
}

a:hover {
  color: red;
}

.github svg:hover {
  fill: #6441a5;
}

.linkedin svg:hover {
  fill: #007BB6;
}

.stackoverflow svg:hover {
  fill: #fe7a15;
}
