/* http://css.paperplaza.net/conferences/support/page.php */

@media all {
  body, html {
    margin : 0px auto;
    font-style :  normal;
    font-variant :  normal;
    font-family :  "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size :  10pt;
  }

  html {
    box-sizing : border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing : inherit;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
  }

  body {
    padding : 2cm;
  }

  body * {
    text-align : left;
  }

  /* Title                 16 pt */
  h1 {
    font-size : 16pt;
    text-align : center;
  }

  h2 {
    font-size : 14pt;
  }
/* Author list           11 pt */

  /* Section titles        10 pt */
  h3 {
    font-size : 10pt;
  }

  /* Normal text           10 pt */
  p, li, td, dt, dd, em, strong {
    font-size : 10pt;
  }

  p, li, td, dd, em, strong {
    text-align: justify;
    text-justify: inter-word;
  }

  em, strong {
    font-size : 90%;
  }

/* Table/Figure captions 10 pt */
/* Sub-scripts            8 pt */
/* Sub-sub-scripts        7 pt */
/* Footnotes              8 pt */

  a {
    text-decoration :  none;
    color :  #006699;
  }

  a:hover, a:active {
    text-decoration :  none;
  }

  blockquote, blockquote p {
    width : auto;
    margin-left : auto;
    margin-right : auto;
    text-align :  center;
  }

  blockquote + blockquote {
    margin-top : -10px;
  }

  dt {
    float :  left;
    clear :  left;
    width :  21%;
    /*font-weight :  bold;*/
  }

  dd {
    margin-left :  22%;
    font-size : 90%;
  }

  hr {
    height :  1px;
    width : 99%;
    border :  0;
    text-align :  center;
    margin :  auto;
    background :  #ccc;
  }

  p {
    margin : 0;
    margin-top : 4px;
    margin-bottom : 8px;
    page-break-after : avoid;
    page-break-inside : avoid;
  }

  ul {
    margin-top :  -4px;
  }

  ul          {
    list-style :  none;
  }

  ul li:before {
    margin-left :  -10px;
    content :  "• \0020";
    color :  #888;
  }

  li:not(:last-child) {
    margin-bottom: 8px;
  }

}

/* http://stackoverflow.com/questions/16649943/css-to-set-a4-paper-size */
@media only screen {
  html {
    padding: 0;
    margin: 0;
    background-color: #FAFAFA;
  }

  body {
    background: white;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    box-shadow: 0 0 0.125cm rgba(0, 0, 0, 0.25);
    margin: 1cm auto;
  }

  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  #TOC {
    background :  #efefef;
    width :  20%;
    max-width :  20%;
    position :  fixed;
    top :  20%;
    right :  -1px;
    border :  1px solid #ccc;
    border-radius: 2px;
    /* padding :  0.75em 0.5em 0 0em; */
    background :  white;
    font-size :  10pt;
    font-weight : 600;
  }

  #TOC > ul {
    margin-top : 1em !important;
    padding :  0.5em !important;
    list-style :  none;
  }

  #TOC ul, #TOC li {
    margin : auto;
    margin-left :  10px;
    padding :  0;
  }
}

@media (min-width: 768px) {
  body {
    width: 21cm;
  }
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
}

@media print {
  body {
    margin :           0;
    padding :          0;
    border :           initial;
    border-radius :    initial;
    width :            initial;
    min-height :       initial;
    box-shadow :       initial;
    background :       initial;
    page-break-after : always;

    width : 20cm;
    border : 1px solid red;
  }

  #TOC {
    display : none;
  }
}

@page {
  size: A4;
  margin: 0;
}

/* http://codepen.io/rafaelcastrocouto/pen/LFAes/ */
