<div class="tab-pane container fade" id="about">
  <div class="row" style="height: 60vh">
    <div class="col-lg-8 align-self-center">
      <div class="blog">
        {{ markdown('_layouts/about.md') }}
      </div>
    </div>

    <div class="col-lg align-self-center">
      <div class="sidepic about"></div>
    </div>
  </div>

</div>
