<div class="tab-pane container active" id="home">
  <div class="row" style="height: 60vh">
    <div class="col-lg-5 align-self-center">
      <div class="card-block align-middle">
        <h2>Shalom Bhooshi</h2>
        <p>
          Clouds  ।  Infrastructure  ।  Automation
        </p>
      </div>
    </div>
  </div>
</div>

