<div class="tab-pane container active" id="home">
  <div class="row" style="height: 60vh">
    <div class="col-lg-8 align-self-center">
      <div class="card-block align-middle">

        <h1>Shalom Bhooshi</h1>
        <p id="caption">
          Cloud Solutions&nbsp;।&nbsp;SRE&nbsp;।&nbsp;DevOps
        </p>


      </div>
    </div>
  </div>
</div>

