<div class="tab-pane container active" id="home">
  <div class="row" style="height: 60vh">
    <div class="col-lg-6 align-self-center">
      <div class="align-middle">

        <h1>Shalom Bhooshi</h1>

        <div class="carousel slide carousel-fade"
             data-ride="carousel"
             data-interval="3000"
             data-keyboard="false"
             data-pause="false"
        >
          <div class="carousel-inner">

            <div class="carousel-item item active">
              <span>
                Cloud Solutions । SRE । DevOps
              </span>
            </div>

            <div class="carousel-item item">
              <span>
                Cloud Infrastructure Engineer
              </span>
            </div>

            <div class="carousel-item item">
              <span>
                Site Reliability/Systems/Platform Engineer
              </span>
            </div>

            <div class="carousel-item item">
              <span>
                Agile । Data । IaC । Economics
              </span>
            </div>

            <div class="carousel-item item">
              <span>
                /^ ( Dev | Sys | Tech | Infra | Platform | \w+ ) Ops Engineer $/nx
              </span>
            </div>

            <div class="carousel-item item">
              <span>
                {Cloud, Platform, Solutions} Engineer
              </span>
            </div>

            <div class="carousel-item item">
              <span>
                Open-Source Enthusiast
              </span>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="col-lg align-self-center">
      <div class="sidepic index"></div>
    </div>

  </div>
</div>

